
		<!-- slider -->
        <div class=" home-slider">			
				<article class="format-standard">
					
					<h2  class="post-heading"><%= @post.title %></h2>
					<div class="post-content"><%= @post.content	%><p><%= @post.created_at %></p></div>
					<div class="meta">
						<div class="user">by <%= User.find(@post.user_id).email %></div>
						<div class="categories">In <%= @post.category %></div>
						<div class="comments"><a href="#"><%= @post.comments.count()%> comments </a></div>
						<div><%= toggle_like_button(@post, current_user)%> 
							<%= like_counter(@post)%>
						</div>
					</div>
					<div>
			        	<%= form_for [@parent, Comment.new] do |f| %>
						   <%= f.hidden_field :user_id, :value => current_user.id %>
						  <p>
							 <%= f.text_area :content, :cols => "10", :rows => "5", :class => "textarea"%>
						  </p>
						  
						  <p><%= f.submit 'Comment' %></p>
						<% end %>
					</div>
					<div id="viewcomment">View</div>
					<div id="accordion">
	    				<h3>View Comments</h3>
						<div>
							<ul >
	  							<%= render :partial => 'comments/comment', :collection => @post.comments %>
							</ul>
						</div>
					</div>
					<!-- ENDS comments list -->
	        	</article> 	
	    </div>

