
 <div id="sidebar">
	<ul >
	<h4>Admin Pages</h4>
		<li><%= link_to "Recent Approved Posts", recent_approved_path%></li>
		<li><%= link_to "Unapproved Posts", unapproved_path%></li>
		<li><%= link_to "All Users", users_path %></li>
		<li><%= link_to "Reported Users", reported_path %></li>
		<li><%= link_to "Recipe Requests", recipes_path%></li>

	</ul>
</div>