

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3" >	
			<ul>
			<h4>Admin Pages</h4>
				<li><%= link_to "Recent Approved Posts", recent_approved_path%></li>
				<li><%= link_to "Unapproved Posts", unapproved_path%></li>
				<li><%= link_to "List of Reported Users", reported_path %></li>
				<li><%= link_to "Recipe Requests", recipes_path%></li>
			</ul>
		</div>
		<div class="span9">
			<div class="row">
				<% if @posts.blank?%>
					<div class="alert alert-info">
						<p>No more unapproved post.</p>
					</div>
				<% else %>
					<%= render 'posts/posts' %>
				<% end %>					
			</div>
		</div>
	</div>
</div>

