

<div class="span12">
  <% if @recipes.blank?%>
  <div class="alert alert-info">
    <p>No recipes yet.</p>
  </div>
  <% end %>
</div>

<div  id="recipepage">
  <div class="row-fluid">
    <div class="span3" >  
      <% if current_user.user_type == "admin"%>
      <%= render 'admin/adminpages'%>
      <% end %>
    </div>
    <div class="span9">
  <div class="span10">
      <div id="recipelist">
      <h3 align="center">  Recipe Requests</h3>
      <div >    
          <% if current_user %>
            <p><span class="newrecipe" id="fontrecipe"><a href="#newrecipe">Add New Recipe</a></span></p>
            <div id="newrecform"><% @recipe = Recipe.new%> <%= render 'form'%></div>
          <% end %>
      </div>    

      <div id="centerrecipe">
          <%  @recipes.each do |recipe|%>
          <div class="post">
          <div class="recipes"> 
              <span class="namelabel"><%= recipe.name%></span>
              <span class="optionsrec">
              <% if current_user && current_user.user_type == "admin" %>             
                <%= link_to "Edit", edit_recipe_path(recipe)%> | <%= link_to "Delete", recipe, :confirm => "Are you sure?", :method => :delete%>
              <% end %>
              </span>
          </div>
          </div>
        <% end %>
      </div>
       </div>    
       </div>
    </div>
    </div>
  </div>
</div>








