<div class="span12">
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
   <div class="item active">
      <%= image_tag "foodaholic.jpg"%>
    </div>
    <% @images = Post.where(:content_type=>"pic").order("like_counter")%>
    <% @images.each do |image|%>
        <div class="item">
            <a href="/posts/<%= image.id%>"><%= image_tag url_for(:controller => 'posts',:action => 'show_image', :id => image.id, :size => "100x100", :crop => :fill) %>
            </a>
            <div class="carousel-caption">
              <h4><%= image.file_name%></h4>
              <p><%= truncate image.content, :length => 100%></p>
            </div>
        </div>
      <%end%>
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>