
    <table class="profile">

      <h2 class="prof-heading"><div align="center">My Profile</div></h2>  
      <% if current_user.id == @user.id%>
      <div align="center"><%= link_to "Edit Profile", edit_user_path(@user)%></div> 
      <% end %>
      
      <tr class="input-block-level">
      <td class="fieldname" <div align="center">Name</div></td><td>: <%= @user.fname %> </td>
      </tr><br/>

      <tr class="input-block-level">
          <td class= "fieldname">Email</td> <td>: <%= @user.email %> </td>  
      </tr>

      <tr class="input-block-level">
          <td class= "fieldname">Facebook Account</td> <td>: <%= @user.facebook %></td>  
      </tr>

      <tr class="input-block-level">
          <td class= "fieldname">Twitter Account</td> <td>: <%= @user.facebook %></td>  
      </tr>

      <tr class="input-block-level">
          <td class= "fieldname">Google+ Account</td> <td>: <%=@user.g_plus %></td>  
      </tr>
     <div>
     </div>
 
    </table> 