<li>
	<div class="comment-author vcard"><%= User.find(comment.user_id).email%></div>

	<div class="comment-meta commentmetadata">
		<span class="comment-date"><%= comment.created_at %></span>
		<span class="comment-reply-link-wrap"><%= link_to 'Reply', new_comment_comment_path(comment) %></span>		
	</div>
	<div class="comment-content">
	    <%= comment.content %>
	</div>
	<br/>
	<hr/>
	<% unless comment.comments.empty? %>
	    <ul class="comment_list">
	      <%= render :partial => 'comments/comment', :collection => comment.comments %>
	    </ul>
	<% end %>
</li>
