
  <%= form_for(@post, :html => { :multipart => true }) do |f| %>
    <fieldset class="post">

    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="form-container">
    <div class="title">
      <%= f.label :title %>
      <%= f.text_field :title, :size=>60 %>
    </div> &nbsp;&nbsp;&nbsp;
    <div class="recipe">
      <% if Recipe.exists? %>
      <%= f.label :recipe_id %>
      <%= f.collection_select :recipe_id, Recipe.all, :id, :name , :size=>60%>
      <% end %>
      <%= link_to "Add new recipe", new_recipe_path%>
    </div>
    <div class="category">
      <%= f.label :category %>
      <%= f.select(:category, Post::CATEGORIES) %>
      </div>
    <div >
      <%= f.label :content %>
      <%= f.text_area :content, :cols => "20", :rows => "5", :class => "textarea" %>
    </div>
    <div>
      Caption: <%= f.text_field("caption") %><br/>
      Upload your picture: <%= f.file_field("uploaded_picture") %>
    </div>  
    <div >
      <%= f.submit %>
    </div>
  </div>
   </fieldset>

  <% end %>
 