
<div class="container-fluid" id="header">
	<div class="row" > 
		<%= render 'partials/slider'%>	
	</div>
</div>
<div class="container-fluid" id="header">
	<div class="row" > 
		<div class="span3" id="categ"><%= link_to "Pastries", showcategory_path(:category => 'Pastry')%></div>		
		<div class="span3" id="categ"><%= link_to "Desserts", showcategory_path(:category => 'Dessert')%></div>	
		<div class="span3" id="categ"><%= link_to "Dishes", showcategory_path(:category => 'Dish')%></div>		
		<div class="span3" id="categ"><%= link_to "Appetizer", showcategory_path(:category => 'Appetizer')%></div>
	</div>
</div>
<br/>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3" >	
			<h4>Featured Posts</h4>
			<% @featured.each do |f|%>
				<div id="featured"><%= link_to f.title, f %><br/>
					<% if f.content_type == "blog" || f.content_type.nil? %>
						<%= truncate f.content, :length => 160%>
					<% elsif f.content_type == "pic" %>
						<%= image_tag url_for(:controller => 'posts',:action => 'show_image', :id =>f.id) %>
					<% elsif f.content_type == "vid" %>
						<iframe src=" http://www.youtube.com/embed/<%=youtube_embed(f.video_url)%>"></iframe>
					<% end%>
				</div>
			<% end %>
		</div>
		<div class="span9">
			<div class="row">
					<%if current_user%>
						<div>
							&nbsp;&nbsp;&nbsp;&nbsp;<a href="#newpost" id="newblog" class="badge badge-info">ADD NEW BLOG</a> <a href="#newpost" id="newvid" class="badge badge-info">ADD NEW VIDEO</a> <a href="#newpost" id="newpic" class="badge badge-info">ADD NEW PICTURE</a>
							<div id = "formnew"> <%= render 'form'%></div>
						</div>
					<% else %>
						<div>
						</div>
					<% end %>
				
				<%= will_paginate @posts%>
				<%= render 'posts' %>
			</div>			
			<!-- </div> -->
		</div>
	</div>
</div>