
				<article class="format-standard">
					
					<h2  class="post-heading"><%= @post.title %></h2>
					<div class="post-content"><div><%= image_tag url_for(:action => 'show_image', :id => @post.id), :size => "50x60" %></div><%= @post.content	%><p><%= @post.created_at %></p></div>
					<div class="meta">
						<% user_id = @post.user_id%>
						<div class="user">by <%= User.find(user_id).email %><%= form_tag(:controller => "users", :action => "report")  do |f|%>
							<%= hidden_field_tag(:id, user_id)%>
							<%= submit_tag("Report")%>
						<% end %>
					</div>
						<div class="categories">In <%= @post.category %></div>
						<div class="comments"><a href="#"><%= @post.comments.count()%> comments </a></div>
						<div class="like"><%= toggle_like_button(@post, current_user)%> 
							<%= like_counter(@post)%>
						</div>
					</div>
					<% if current_user%>
					<div>
			        	<%= form_for [@parent, Comment.new] do |f| %>
						   <%= f.hidden_field :user_id, :value => current_user.id %>
						  <p>
							 <%= f.text_area :content, :cols => "10", :rows => "5", :class => "textarea"%>
						  </p>
						  
						  <p><%= f.submit 'Comment' %></p>
						<% end %>
					</div>
					<%end%>
					<!-- ENDS comments list -->
	        	</article> 	

