
	<div class="span10">
	<div class="post">
	<p><span class="title"><%= link_to @post.title, @post %></span>  <span class="admin_action"><%= adminapprove(@post)%></span></p><br/><%= image_tag url_for(:controller => 'posts',:action => 'show_image', :id => @post.id) %>
		<p> <%= @post.content%></p>	
	<em>Posted on <%= @post.created_at.to_date.to_s(:default) %></em>
	</div>
	<div  class="meta">
		<div class="user"><%= 	link_to User.find(@post.user_id).email, user_path(:id => @post.user_id) %></div>
		<div class="categories"><em><%= link_to @post.category, showcategory_path(:controller=>'posts',:category => @post.category) %></em></div>
		<div class="comments"><a href="#viewcomments"><%= @post.comments.count()%> comments </a></div>
		<div class="likes">
			<%= toggle_like_button(@post, current_user)%> 
			<%= like_counter(@post)%></div>
		<div class="report">
			<%= report_user(@post)%> 
		</div>

	</div>
	<div id="accordion">
		<div>
			<ul>
				<%= render :partial => 'comments/comment', :collection => @post.comments %>
			</ul>
		</div>
	</div>
	</div>
