<!DOCTYPE html>
<html>
<head>
  <title>FoodaholicConfessions</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		  	<a class="brand" href="<%= home_path %>">	<%= image_tag "logo.jpg"%></a>
	    	<form class="navbar-search pull-left">
  				<input type="text" class="search-query" placeholder="Search">
			</form>
	    	<ul class="nav">
		      <li ><%= link_to "Home", posts_path%></li>
		      <li ><%= link_to "About", about_path%></li>
			  <li >

				 <ul class="nav ">
				 	<% if(current_user) %>
				 	<li class="dropdown">
				    <a class="dropdown-toggle"
				       data-toggle="dropdown"
				       href="#">
               			Hi,<%= current_user.email %>
				        <b class="caret"></b>
				      </a>
				    <ul class="dropdown-menu">
				      <% if(current_user.user_type == "admin")%>
				      	<%= render 'admin/adminpages'%>
				      <% else %>
				        <%= render 'users/memberpages'%>
				      <% end %>
				    </ul>
				  </li>
               		<li><%= link_to "Logout", logout_path, method: :delete%></li>
               <% else %>
				  <li class="dropdown">
				    <a class="dropdown-toggle"
				       data-toggle="dropdown"
				       href="#">
				        Sign-up
				        <b class="caret"></b>
				      </a>
				    <ul class="dropdown-menu">
				      <li> <%= render 'users/sign-up'%></li>
				    </ul>
				  </li>
  				  <li class="dropdown">
				    <a class="dropdown-toggle"
				       data-toggle="dropdown"
				       href="#">
				        Login
				        <b class="caret"></b>
				      </a>
				    <ul class="dropdown-menu">
				      <li>  <form action="/login" method="post">
    <input name="email" type="text"  placeholder="email address"/>
    <input name="password" type="password"  placeholder="password"/>
    <input name="submit" type="submit" value="Login">
  </form></li>
				    </ul>
				  </li>
				</ul>
				</li>
				<%end%>
			</ul>
			</div>
	
	  	  </div>
  	  	<div class="flash">
	        <% flash.each do |key, value| %>
	          <p><%= value %></p>
	         <% end %>
	    </div>
	    <div class="container-fluid">
		  <div class="row-fluid">
		    <div class="span3 bs-docs-sidebar">
		      <%= render 'partials/sidebar'%>
		    </div>
		    <div class="span9">
		  	  <%= yield%>
		    </div>
		  </div>
		</div>
	
</body>
</html>
