<!DOCTYPE html>
<html>
<head>
  <title>Confessions of Foodaholic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		  	<a class="brand" href="<%= home_path %>">	CONFESSIONS OF FOODAHOLIC &nbsp; </a>
	    		 <%= form_tag posts_path, :method => 'get', :class => "navbar-search pull-left" do %>
                    <%= text_field_tag :search, params[:search], :class=>"search-query", :placeholder=>"Search" %>
             <% end %>
	    	<ul class="nav">
		      <li ><%= link_to "Home", posts_path%></li>
		      <li ><%= link_to "About", about_path%></li>
			  <li >

				 	<% if(current_user) %>
				 		<%if current_user.user_type == "admin"%>
				 			<li><%= link_to "Admin", recent_approved_path%></li>
				 		<% else%>
				 	<li class="dropdown">
				    <a class="dropdown-toggle"
				       data-toggle="dropdown"
				       href="#">
               			Hi,<%= current_user.email %>
				        <b class="caret"></b>
				      </a>
				    <ul class="dropdown-menu" id= "options">
				        <%= render 'users/memberpages'%>
				    </ul>
				  </li>
				  <% end %>
               		<li><%= link_to "Logout", logout_path, method: :delete%></li>
               <% else %>
				  <li class="dropdown">
				    <a class="dropdown-toggle"
				       data-toggle="dropdown"
				       href="#">
				        Sign-up
				        <b class="caret"></b>
				      </a>
				    <ul class="dropdown-menu">
				      <li> <%= render 'users/sign-up'%></li>
				    </ul>
				  </li>
  				  <li class="dropdown">
				    <a class="dropdown-toggle"
				       data-toggle="dropdown"
				       href="#">
				        Login
				        <b class="caret"></b>
				      </a>
				    <ul class="dropdown-menu">
				      <li>  <form action="/login" method="post">
    <input name="email" type="text"  placeholder="email address"/>
    <input name="password" type="password"  placeholder="password"/>
    <input name="submit" type="submit" value="Login">
  </form></li>
				    </ul>
				  </li>
				</li>
				<%end%>
			</ul>
			</div>
	
	  	  </div>
	  	<div class="flash">
	        <% flash.each do |key, value| %>
	         <div class="alert alert-info">
	    		<p><%= value %></p>
	    	</div>
	         <% end %>
	    </div>
	<div id="wrap">
	
	<%= yield%>


	</div>

</div>
<!-- 	<footer class="footer">
		﻿
	</footer>
 -->


<div id="footer">
	<div id="footer_outer">
		    <div id="footer_twitter"> 
		    	<div id="twitter">
			        <h3>&nbsp;&nbsp;Contact Us</h3>
				    <div id="tweet"></div>
			    </div>
		      	<p class="social"><a href="http://twitter.com/FoodConfessed"><%= image_tag "twitter.png" %></a>
		      	 
			      	<a href="http://www.facebook.com/pages/Confessions-of-a-Foodaholic/583641244981681">
			      	<%= image_tag "facebook.png" %> </a>

			      	<a href="https://plus.google.com/117878414345525087291">
			      	<%= image_tag "google+.png" %> </a>
		      		<a>
		 			<iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/Confessions-of-a-Foodaholic/583641244981681"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe></a><a href="https://twitter.com/FoodConfessed" class="twitter-follow-button" data-show-count="false">Follow @FoodConfessed</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		      </p>

			</div>
			<br/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright © 2013 - Confessions of a Foodaholic Based on Twitter Bootstrap- All rights reserved.
		</div>
</div>
	
</body>
</htm>